*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
    overflow-x: hidden;
}

body{
    background:linear-gradient(45deg, #3d3d3d, #000);
    color: #ffffff;
    width: 100vw;
    height: 100vh;
}

.flex-container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    position: relative;
    flex-wrap: wrap;
}

.title{
    font-size: 100px;
    line-height: 1.2;
    padding: 20px;
}

.p{
    font-size: 15px;
    padding: 20px;
    line-height: 2;
    font-size: 18.5px;
}

.btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #2abb56;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 17.5px;
    width: 300px;
    text-align: center;
    
}

.btn--trans{
    background-color: transparent;
    border: 2px solid #2abb56;
    color: #36aa59;
    transition: all .5s linear;
}

.btn--trans:hover{
    background-color: #36aa59;
    color: #ffffff;
}

.img-flex{
    display: flex;
    position: absolute;
    left: 60rem;
    top: 50px;
    flex-wrap: wrap;
}

.img-flex img{
    width: 600px;
}